.grid-continer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 20px;
  width: 40%;
  margin: 0 auto;
}

.buttoperation {
  background-color: #f5913e;
}

button {
  padding: 1rem;
  border: 1px solid gainsboro;
}

button:hover {
  background-color: gray;
}

button:active {
  background-color: gainsboro;
}

.resultscreen {
  padding: 1rem;
  background-color: #858693;
  grid-column: 1/5;
  text-align: right;
  border: none;
}

.resultscreen:focus {
  outline: none;
}

.resultscreen::placeholder {
  color: #fff;
}

.zeroitem {
  grid-column: 1/3;
}
